package $package_name;

import processing.core.*;

class Main {

    private static final String[] OPTIONS = new String[] { "--present", "$package_name.Sketch" };
    
    public static void main(String[] args) {
        PApplet.main(OPTIONS);
    }

}
